{{> menu id="dashboard"}}

<section class="ui segment" style="border: 3px solid #043F8C; border-radius: 10px; background-color: #C9E5F0;">
  <h2 class="ui header">
    Add Fund Checklist: {{fund.fundname}}
  </h2>
</section>

{{> errors }}

<div class="ui two column grid basic segment">
  <div class="column">
    {{> addFundChecklist}}
  </div>
  <div class="column">
    {{> fundChecklistSummary}}
  </div>
</div>