{{> adminMenu id="userAdmin"}}

<section class="ui segment" style="border: 3px solid #043F8C; border-radius: 10px; background-color: #C9E5F0;">
  <h2 class="ui header">
    Edit User
  </h2>
</section>

<div class="ui two column grid basic segment">
  <div class="column">
    {{> editUser}}
  </div>
  <div class="column">
  </div>
</div>