{{> adminMenu id="userAdmin"}}

<section class="ui segment" style="border: 3px solid black; border-radius: 10px; background-color: #DB65C6;">
  <h2 class="ui header" style="color: white;">
    Edit User
  </h2>
</section>

{{> errors }}

<div class="ui two column grid basic segment">
  <div class="column">
    {{> editUser}}
  </div>
  <div class="column">
  </div>
</div>