{{> menu id="dashboard"}}

<section class="ui segment" style="border: 3px solid #043F8C; border-radius: 10px; background-color: #C9E5F0;">
  <h2 class="ui header">
    {{fund.fundname}}: {{fundchecklist.checklistname}} - {{fundchecklist.checklistdate}}
  </h2>
</section>

  <div class="column">
    {{> editFundChecklist}}
  </div>

    {{#if error}}
  <div class="ui negative message">
  <div class="header">
    Error
  </div>
  <p>{{error}}</p>
  </div>
  {{/if}}

  <script>
    $('.negative.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
  </script>