{{> adminMenu id="fundAdmin"}}

<section class="ui segment" style="border: 3px solid black; border-radius: 10px; background-color: #DB65C6;">
  <h2 class="ui header" style="color: white;">
    Add Fund
  </h2>
</section>

{{> errors }}

<div class="ui two column grid basic segment">
  <div class="column">
    {{> addFund}}
  </div>
  <div class="column">
    {{#each funds}}
        {{> fundSummary}}
        <br>
    {{/each}}
  </div>
</div>