{{> adminMenu id="fundAdmin"}}

<section class="ui segment" style="border: 3px solid #043F8C; border-radius: 10px; background-color: #C9E5F0;">
  <h2 class="ui header">
    Add Fund
  </h2>
</section>

{{> errors }}

<div class="ui two column grid basic segment">
  <div class="column">
    {{> addFund}}
  </div>
  <div class="column">
    {{#each funds}}
        {{> fundSummary}}
    {{/each}}
  </div>
</div>