{{> welcome-menu }}

<section class="ui center aligned middle aligned segment"
         style="border: 3px solid black; border-radius: 10px; background-color: #DB65C6;">
  <div class="ui segment" style="border: 3px solid black;">
    <div class="ui two column very relaxed grid">
      <div class="column">
        <img class="ui image" id="mainImage" src="https://res.cloudinary.com/dtf6gxvaq/image/upload/v1679401943/ChecklistTracker_bp1swb.jpg">
      </div>
      <div class="column" style="margin-top: 75px">
        <h2>Log In to view Checklist Dashboard</h2>
        <h3>- Create new checklists</h3>
        <h3>- View the status of open checklists</h3>
        <h3>- Ensure valid user sign offs</h3>
      </div>
    </div>
    <div class="ui vertical divider">
      Welcome
    </div>
  </div>
</section>