{{> welcome-menu }}

<section class="ui center aligned middle aligned segment"
         style="border: 3px solid #043F8C; background-image: linear-gradient(#84B1D9,white);">
  <div class="ui segment" style="border: 3px solid #043F8C;">
    <div class="ui two column very relaxed grid">
      <div class="column">
        <h3>Log in to view checklist tracking</h3>
      </div>
      <div class="column">
        <h3>Check dashboard of checklists</h3>
      </div>
    </div>
    <div class="ui vertical divider">
      OR
    </div>
  </div>
</section>