{{> welcome-menu }}

<section class="ui center aligned middle aligned segment"
         style="border: 3px solid black; border-radius: 10px; background-color: #DB65C6;">
  <div class="ui segment" style="border: 3px solid black;">
    <div class="ui two column very relaxed grid">
      <div class="column">
        <h3>Log in to view checklist tracking</h3>
        <img class="ui image" id="mainImage" src="https://res.cloudinary.com/dtf6gxvaq/image/upload/v1679401943/ChecklistTracker_bp1swb.jpg">
      </div>
      <div class="column">
        <h3>Check dashboard of checklists</h3>
      </div>
    </div>
    <div class="ui vertical divider">
      OR
    </div>
  </div>
</section>