{{> adminMenu id="teamAdmin"}}

<section class="ui segment" style="border: 3px solid black; border-radius: 10px; background-color: #DB65C6;">
  <h2 class="ui header" style="color: white;">
    Add Team
  </h2>
</section>

{{> errors }}

<div class="ui two column grid basic segment">
  <div class="column">
    {{> addTeam}}
  </div>
  <div class="column">
    {{#each teams}}
        {{> teamSummary}}
        <br>
    {{/each}}
  </div>
</div>