{{> menu id="teamAdmin"}}

<section class="ui segment" style="border: 3px solid #043F8C; border-radius: 10px; background-color: #C9E5F0;">
  <h2 class="ui header">
    Add Team
  </h2>
</section>

<div class="ui two column grid basic segment">
  <div class="column">
    {{> addTeam}}
  </div>
  <div class="column">
    {{#each teams}}
        {{> teamSummary}}
    {{/each}}
  </div>
</div>