{{> adminMenu id="userAdmin"}}

<section class="ui segment" style="border: 3px solid #043F8C; border-radius: 10px; background-color: #C9E5F0;">
  <h2 class="ui header">
    Add User
  </h2>
</section>

  {{#if error}}
  <div class="ui negative message">
  <div class="header">
    Error
  </div>
  <p>{{error}}</p>
  </div>
  {{/if}}

{{> errors }}

<div class="ui two column grid basic segment">
  <div class="column">
    {{> addUser}}
  </div>
  <div class="column">
    {{#each users}}
        {{> userSummary}}
        <br>
    {{/each}}
  </div>
</div>

  <script>
    $('.negative.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
  </script>