{{> menu id="dashboard"}}

<section class="ui segment" style="border: 3px solid black; border-radius: 10px; background-color: #DB65C6;">
  <h2 class="ui header" style="color: white;">
    Team View: {{team.teamname}}
  </h2>
</section>

    {{#each funds}}
        {{> fundDashboardSummary teamid=../team._id}}
    {{/each}}