{{> menu id="dashboard"}}

<section class="ui segment" style="border: 3px solid #043F8C; border-radius: 10px; background-color: #C9E5F0;">
  <h2 class="ui header">
    Team View: {{team.teamname}}
  </h2>
</section>

    {{#each funds}}
        {{> fundDashboardSummary}}
    {{/each}}