<form name="addFund" class="ui stacked segment form" action="/fundAdmin/addFund" method="POST"
      style="background-color: #F5C0EF; border: 3px solid black;">
  <div class="field">
    <label>Fund Name</label>
    <input placeholder="Fund name" type="text" name="fundname" {{#if form}}value="{{form.fundname}}"{{/if}}>
    <label>Financial Year End</label>
    <input placeholder="DD/MM" type="text" name="financialyearend" {{#if form}}value="{{form.financialyearend}}"{{/if}}>
  </div>
  <button id="submitButton" class="tiny ui black submit animated button">
    <div class="visible content">Add Fund</div>
    <div class="hidden content">Are you sure?</div>
  </button>
</form>

<section class="ui raised segment">
    <h2>Upload Excel Funds</h2>
    <div>
        Download the Excel Fund template file from here:
        <button style="margin-left: 20px" class="ui pink button" onclick="document.getElementById('link').click()" >
            <i class="download icon"></i>
            Download
        </button>
        <a id="link" href="../addFundTemplate.xlsx" download hidden></a>
    </div>
    <br/>
    <div>
        <br/>
        When you're ready upload your Fund excel file here:
        <div >
            <form class="ui form" action="/fundAdmin/addFundExcel" method="POST"
                  enctype="multipart/form-data">
                <div class="field">
                    <input type="file" class="input" name="excelfile"
                           accept="text/plain, .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                </div>
                <button type="submit" value="Upload" class="ui pink button">Upload</button>
            </form>
        </div>
    </div>
</section>