<form class="ui stacked segment form" action="/checklistAdmin/editChecklist/{{checklist._id}}" method="POST"
      style="background-color: #C9E5F0; border: 3px solid white;">
  <div class="field">
    <label>Is checklist header item?</label>
    <input type="checkbox" name="checklistheader">
    <label>Add dates for Checklist</label>
      <label>Start date</label>
      <div class="ui calendar" id="rangestart">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="Start" name="startdate">
        </div>
      </div>
      <label>End date</label>
      <div class="ui calendar" id="rangeend">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="End" name="enddate">
        </div>
      </div>
    <label>Add Checklist Item</label>
    <input type="text" name="checklistitem">
    <label>Default Value</label>
    <div class = "font-awesome">
      <select class="fa" name="defaultvalue" class="ui fluid dropdown" id="defaultvalue">
      <option class="fa" value="Checked">&#xf00c</option>
      <option value="N/A">N/A</option>
    </select>
    </div>
  </div>
  <button id="submitButton" class="tiny ui black submit animated button">
    <div class="visible content">Add Checklist Item</div>
    <div class="hidden content">Are you sure?</div>
  </button>
</form>
<button id="backButton" class="tiny ui gray submit button">
    <div class="visible content"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</div>
</button>

<script>
  $('#defaultvalue').dropdown();
  .font-awesome .fa {
    font-family:monospace;
  };
</script>

<script>
  document.getElementById("backButton").onclick = function () {
      window.location.href = "/checklistAdmin";
  };
</script>

<script>
$('#rangestart').calendar({
  type: 'date',
  endCalendar: $('#rangeend')
});
$('#rangeend').calendar({
  type: 'date',
  startCalendar: $('#rangestart')
});
</script>