<form class="ui stacked segment form" action="/fundAdmin/editFund/{{fund._id}}" method="POST"
      style="background-color: #C9E5F0; border: 3px solid white;">
  <div class="field">
    <label>Change Fund Name</label>
    <input value="{{fund.fundname}}" type="text" name="fundname">
    <label>Change Financial Year End</label>
    <input value="{{fund.yearend}}" type="text" name="financialyearend">
  </div>
  <button id="submitButton" class="tiny ui blue submit animated button">
    <div class="visible content">Save changes</div>
    <div class="hidden content">Are you sure?</div>
  </button>
</form>
<button id="backButton" class="tiny ui orange submit button">
    <div class="visible content"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</div>
</button>

<script>
    document.getElementById("backButton").onclick = function () {
        window.location.href = "/fundAdmin";
    };
</script>

