<div class="ui segment" style="border: 3px solid #043F8C;">
    <div class="card" id="cardStyle"><h2>{{fundname}}</h3>
    </div>
    <div class="card" id="cardStyle"><h4>Year End</h2>
      {{yearend}}
    </div>
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
    <br>
    <a href="/viewFund/{{_id}}/addFundChecklist">
        <div id="addButton" class="tiny red ui animated button" tabindex="0">
            <div class="visible content">Add Checklist</div>
            <div class="hidden content">Are you sure?</div>
        </div>
    </a>
    <a href="/viewFund/{{_id}}/viewFundChecklists">
        <div id="viewButton" class="tiny green ui animated button" tabindex="0">
            <div class="visible content">View Checklists</div>
            <div class="hidden content">Are you sure?</div>
        </div>
    </a>
</div>

<script>
var xValues = ["Complete","Incomplete"];
var yValues = [100,45];
var barColors = [
  "#b91d47",
  "#00aba9",
  "#2b5797",
  "#e8c3b9",
  "#1e7145"
];

new Chart("myChart", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Completed checklists"
    }
  }
});
</script>
