<section class="ui segment" style="border: 3px solid #043F8C; border-radius: 10px; background-color: #C9E5F0;">
  <h2 class="ui header">
    Team Information
  </h2>
{{#each teams}}
    {{name}}
{{/each}}
</section>