<nav class="ui inverted secondary menu" style="border: 3px solid black; border-radius: 10px; background-color: black">
  <header class="ui header item"><img id="menuImage" class="ui image" src="https://res.cloudinary.com/dtf6gxvaq/image/upload/v1679408219/logo_gajvas.jpg" style="width: 90px; border-radius: 100px"></header>
  <div class="right menu">
    {{#if user.admin}}
    <div class="ui right dropdown item">
    Admin
    <i class="dropdown icon"></i>
    <div class="menu">
      <a id="userAdmin" class="item" href="/userAdmin">Users</a>
      <a id="teamAdmin" class="item" href="/teamAdmin">Teams</a>
      <a id="fundAdmin" class="item" href="/fundAdmin">Funds</a>
      <a id="checklistAdmin" class="item" href="/checklistAdmin">Checklists</a>
    </div>
  </div>
    {{/if}}
    <div class="ui right dropdown item">
    Dashboards
    <i class="dropdown icon"></i>
    <div class="menu">
      <a id="dashboard" class="item" href="/dashboard">Teams Dashboard</a>
    </div>
  </div>
    <a id="logout" class="item" href="/logout">Logout</a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
  $('.ui.right.dropdown').dropdown();
</script>